html, #root{
 height : 100vh;
}

.App {
  height: 100%;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

.App-header {
  height: 5%;
  /* background-color: #cbc2f0; */
  background-color: #00000f;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 25px;
  text-align: left;
}

.App-link {
  color: #61dafb;
}
