html, #root{
 height : 100vh;
}

.App {
  height: 100%;
  font-family: 'Bookman Old Style', serif;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

.App-header {
  height: 5%;
  background-color: #0F032E;  
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 25px;
  text-align: left;
  position: fixed;
  top:0;
  left:0;
  z-index: 1;
  width: 100%;
}

.App-link {
  color: #61dafb;
}
